AddDefaultCharset UTF-8
php_flag display_errors on
php_value error_reporting -1

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Если файл или папка существуют, используем их напрямую
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} !^/admin/
    RewriteCond %{REQUEST_URI} !/admin
    
    # Все остальные запросы перенаправляем на index.php
    RewriteRule . /index.php [L]
</IfModule>